.section {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  overflow: auto;
  composes: scroll from '../app/app.module.css';
}

.content::-webkit-scrollbar-thumb {
  height: 500px;
}

.cards {
  display: grid;
  grid-column-gap: 24px;
  grid-row-gap: 32px;
  grid-template-columns: repeat(2, 1fr);
}
