.header {
  background-color: #1c1c21;
}

.header__wrapper {
  composes: container from '../../components/app/app.module.css';
  display: flex;
  width: 100%;
}

.logo {
  justify-content: center;
}

.item {
  display: flex;
  flex: 1;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
}

.item_pos_right {
  justify-content: flex-end;
}

.item_pos_left {
  justify-content: flex-start;
  list-style-type: none;
}

.item__link {
  display: flex;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.item__link:hover {
  opacity: 0.7;
}

.link {
  text-decoration: none;
}

.link_active {
  color: #f2f2f3;
}
